<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <title>Admins View</title>
</head>
<body>
    <header><h1>Welcome {{name}} </h1><a href="/admin/add"><button>Add a new Post</button></a></header>
    <h2>Post title</h2>
    <div class="container">
        {% for poe in poes %}
        <a href="/base/{{poe.id}}">{{poe.title}}</a>
        <a href="/admin/edit/{{poe.id}}"><button>Edit</button></a>
        <a href="/admin/delete/{{poe.id}}"><button>Delete</button></a>
        {% endfor %}
    </div>
</body>
</html>