<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='style2.css')}}">
    <title>Article page</title>
</head>
<body>
    <section>
        <header><h1>{{postses.title}}</h1> </header><br>
        <h2>{{postses.header}}</h2> <br>
        <main>
            <article>
                <p>{{postses.body}}</p>
            </article>
        </main>
    </section>
</body>
</html>